.tudo {
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
    
}
.row {
    content: "";
    clear:both;
    display: table;
}
.content{
    width: 1500;
    height: 505px;
    border: 1px solid brown;
    padding: 1px 1px 1px;
    text-align: center;
}

.topnav a {
    float: left;
    display: table;
    color: midnightblue;
    text-align: center;
    padding: 10px 1px 10px;
    text-decoration: none;
    border: 0.5px solid black;
    background-color: royalblue;
    width: 281.81px;
    
}

/*links - change color on hover*/
.topnav a:hover {
    background-color:midnightblue;
    color:white;
    
}

.header {
    width: 1404px;
    border: 1px;
    padding: 10px;
    margin: 0;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    background-color:royalblue;
    position: top fixed;
    font-size:larger;
    font-weight: bolder;
    
}
.font {
    color:midnightblue;
}

.container {
    position: relative; 
} 
img {
    border: 1px solid #ddd;
    padding: 1px;
    width: 1400px;
    height: 500px;
  }
.privacy {
    text-align:left;
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
    bottom: 10px;
}

.privacy.visted {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

.privacy.hover{
    color: midnightblue;
    background-color: transparent;
    text-decoration: none;
}

.privacy.active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}








.footer {
    width: 1395px;
    border: 1px;
    padding: 15px;
    text-align: left;
    position:fixed;
    bottom:0px;
    background-color: royalblue;

}
