.header {
    width: 900px;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.row {
    content: " ";
    display: table;
    clear: both;
}

.column {
    width: 520px;
    height: 300px;
    border: 1px solid red;
    padding: 15px;
    float: left;
}

.footer {
    width: 900px;
    border: 1px solid black;
    padding: 15px;
    text-align: center;

}