<!-- HTML file for admin to update their own or other user's passwords 
Author: Ana Paula Goncalves 
Student Number:21025329-->
{%extends "secondbase.html"%}

{%block head%}
    {%block title%} {%endblock%}
{%endblock%}

{%block content%}
<body>
    <header>  
        <a href="/"  target="_self"> <span class="font">HT</span> Horizon Travel</a> 
    </header>

   
<div class="col-12 col-m-9 col-x-12">
    <div class="container" >
        <img src="{{url_for('static', filename='4thimage.jpeg')}}" alt="Paris">
<!--prompts admin to enter the username of the account that they wish to change the password-->
<div class="box">
    <h1 style='color:royalblue;'>Welcome {{username}}.</h1>        
    
    <span class="heading"> Update Password </span>
    <p style="color:brown;">{{error}}</p>
    <form action="/updatePassword/" method=post> 
        <label for="username">Enter your username:</label>
        <input type="text" name="username"value="{{request.form.username}}">
        <label for="password">Update Password:</label>
        <input type="password" name="password"value="{{request.form.password}}">
    </br>
</br>
        <input type="submit" class= "button" value="Update">
</br>
    Please note that this will not update your username, it is only being used for checking purposes.
    </form>
</br>
    <button class="button" type="button" onclick="location.href='/adminfeatures';"> Admin Home Page</button>  
</div>
<h1 class="heading">   
    Hi! HolidayIn &copy; 2022 All rights reserved. Images owned by HI!.
    </h1>
</div>      
</div>

</div>  

</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}