<!-- HTML file, admin feature - delete an user 
Author: Ana Paula Goncalves 
Student Number:21025329-->
{%extends "secondbase.html"%}

{%block head%}
    {%block title%} {%endblock%}
{%endblock%}

{%block content%}
<body>
    <header>  
        <a href="/"  target="_self"> <span class="font">HT</span> Horizon Travels</a> 
    </header>

   
<div class="col-12 col-m-9 col-x-12">
    <div class="container" >
        <img src="{{url_for('static', filename='4thimage.jpeg')}}" alt="Paris">
<!-- deletes user-->
<div class="box">
    <h1 style='color:royalblue;'>Welcome.</h1>        
    
    <span class="heading"> Delete an existing user </span>
    <p style="color:red;">{{error}}</p>
    <form action="/deluser" method=post> 
        <label for="id">ID:</label> 
        <input type="text" name="id" value="{{request.form.id}}">
     
        <input type="submit" class= "button" value="Delete">
    </form>
    <button class="button" href='/adminfeatures/'> Go to Admin Page</button>
</div>

</div>      
</div>

</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}