<!-- HTML file, admin feature - update journey 
Author: Ana Paula Goncalves 
Student Number:21025329-->

{%extends "secondbase.html"%}

{%block head%}
    {%block title%} {%endblock%}
{%endblock%}

{%block content%}
<body>
    <header>  
        <a href="/"  target="_self"> <span class="font">HT</span> Horizon Travels</a> 
    </header> 

   
<div class="col-12 col-m-9 col-x-12">
    <div class="container" >
        <img src="{{url_for('static', filename='4thimage.jpeg')}}" alt="Paris">
<!--updates the journey-->
<div class="box">
    <h1 style='color:royalblue;'>Welcome {{username}}.</h1>        
    
    <span class="heading"> Update existing journey </span>
    <p style="color:red;">{{error}}</p>
    <form action="/updatejourney" method=post> 
        <label for="journeyid">Journey ID:</label> 
        <input type="text" name="journeyid" value="{{request.form.journeyid}}">
    </br>
        <label for="deptcity">Departure City:</label>
        <input type="text" name="deptcity" value="{{request.form.deptcity}}">
    </br>
        <label for="arrivcity">Arrival City:</label>
        <input type="text" name="arrivcity" value="{{request.form.arrivcity}}"> 
    </br>
        <label for="depttime">Departure Time:</label>
        <input type="text" name="depttime" value="{{request.form.depttime}}"> 
    </br>
        <label for="arrivtime">Arrival Time:</label>
        <input type="text" name="arrivtime" value="{{request.form.arrivtime}}"> 
    </br>
        <label for="stFares">Price:</label>
        <input type="text" name="stFares" value="{{request.form.stFares}}"> 
    </br>
        <label for="classes">classes:</label>
        <input type="text" name="classes" value="{{request.form.classes}}"> 
    </br>

        <input type="submit" class= "button" value="Update">
    </form>
</br>
</br>
    <button class="button" type="button" onclick="location.href='/adminfeatures';"> Admin Home Page</button>  
</div>
 
</div>      
</div>

</div>  

</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}