<!-- HTML file, admin feature - update price
Author: Ana Paula Goncalves 
Student Number:21025329-->

{%extends "secondbase.html"%}

{%block head%}
    {%block title%} {%endblock%}
{%endblock%}

{%block content%}
<body>
    <header>  
        <a href="/"  target="_self"> <span class="font">HT</span> Horizon Travels</a> 
    </header> 

   
<div class="col-12 col-m-9 col-x-12">
    <div class="container" >
        <img src="{{url_for('static', filename='4thimage.jpeg')}}" alt="Paris">
<!-- updates price -->
<div class="box">
    <h1 style='color:royalblue;'>Welcome {{username}}.</h1>        
    
    <span class="heading"> Update existing price </span>
    <p style="color:red;">{{error}}</p>
    <form action="/updateprice" method=post> 
        <label for="journeyid">Journey ID:</label> 
        <input type="text" name="journeyid" value="{{request.form.journeyid}}">
    </br>
        <label for="stFares">New Price:</label>
        <input type="text" name="stFares" value="{{request.form.stFares}}"> 
    </br>
        <input type="submit" class= "button" value="Update">
    </form>
</br>
</br>
    <button class="button" type="button" onclick="location.href='/adminfeatures';"> Admin Home Page</button>  
</div>

</div>      
</div>

</div>  

</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}