<!-- HTML file for the log in/ register page 
Author: Ana Paula Goncalves 
Student Number:21025329-->
{% extends "base.html" %} <!--enhreriting the template from this html file.-->

{%block head %}
    {%block title%}  {%endblock%}
{%endblock%}

{%block content%}
<div class = "header">
    <a class = "secondary" href="/" target="_self"> <span class="font">HT</span> Horizon Travels </a> 
</div>


<div class="t2"> 
<div> 
    <!--gives the user the option to register if they don't already have an account-->
    <span class="heading"> Register </span>
    <p style="color:brown;">{{error}}</p>
    <form action="/register/" method="post"> 
        <label for="Username">Username:</label> 
        <input type="text" name="username" value="{{request.form.username}}"></br>
        <label for="password">Password:</label>
        <input type="password" name="password"value="{{request.form.password}}"></br>
        <label for="email"> Email:</label>
        <input type="email" name="email" value="{{request.form.email}}" size="40"> </br>
        <input type="submit" class= "button" value="Register">
    </form> </div>

    <!-- user log in if they already have an account -->
<div> <span class="heading">Log in</span>
<p style="color:red;"> {{error}} </p>
<form action="/login/" method="post"> 
  <label for="Username">Username:</label> 
  <input type="text" name="username" value="{{request.form.username}}"></br>
  <label for="password">Password:</label>
  <input type="password" name="password" value="{{request.form.password}}"></br>
   <input type="submit" class= "button" value="Login">
</form></div>
    
</div> 
<!-- consults the database to decide if they should send the user down the path of admin or standar user-->
{% if usertype == 'admin' %}
        <a href="/adminfeatures/">Admin Features</a> <br/>
    {% endif %}

    {% if usertype == 'standard' %}
        <a href="/userfeatures/">User Features</a> <br/>
        <a href="/logout/">Logout</a>
    {% endif %}  
    
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%} 
