<!-- HTML file, admin feature - update journey - success message 
Author: Ana Paula Goncalves 
Student Number:21025329-->

{%extends "secondbase.html"%}

{%block head%}
    {%block title%} {%endblock%}
{%endblock%}

{%block content%}
<body>
    <header>  
        <a href="/"  target="_self"> <span class="font">HT</span> Horizon Travel</a> 
    </header>

   
<div class="col-12 col-m-9 col-x-12">
    <div class="container" >
    <img src="{{url_for('static', filename='4thimage.jpeg')}}" alt="Paris">
<!--display message -->
<div class="box"> 
<p style="color:green;"> {{message}} </p>

<a class="button" href='/logout/'> Logout </a> </br>
<button class="button" type="button" onclick="location.href='/adminfeatures';"> Admin Home Page</button>  

<h1 class="heading">   
    Hi! HolidayIn &copy; 2022 All rights reserved. Images owned by HI!.
    </h1>
</div>      
</div>
 
</div>  

</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}