<!-- HTML file, error page when no prices has been selected 
Author: Ana Paula Goncalves 
Student Number:21025329-->

{%extends "secondbase.html"%}
{%block head%}
    {%block title%} {%endblock%}
{%endblock%}

{%block content%}
    <body>
        <header>  
            <a href="{{ url_for('homePage') }}"  target="_self"> <span class="font">HT</span> Horizon Travels</a> 
        </header>  
<div class="col-12 col-m-9 col-x-12">
        <div class="container" >
            <img src="static/img/2ndimage.jpeg" alt="Greece">  
        <div class="box">
            <h1>Price for your Selected travel</h1> 
            
               <p>No Travel route was selected. Please select dates, destination, location of departure and number of passenger to see prices </p> 
            <h1 class="heading">   
                Hi! HolidayIn &copy; 2022 All rights reserved. Images owned by HI!.
                </h1>
        </div>      
    </div>   
</div>        

{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}