<!-- HTML file, standard user features - this is where the user will be able to create a new budget.
Author: Ana Paula Goncalves 
Student Number:21025329-->
{%extends "base2.html"%}

{%block head %}
    {%block title%} 
    {{super()}}
    {%endblock%}
{%endblock%}

{%block content%}
<body>
<div class="col-12 col-m-9 col-x-12">
    <div class="tab">   
        <button type="button" onclick="location.href='/userhome/';"> Home Page</button> <!--change the page that this goes to - at the moment it doesn't go anywhere
                                                                                                in this page the user should be able to link their bank account-->
        <button type="button" onclick="location.href='/';"> edit Budget</button> <!-- this will allow the user to edit their income/ expenses.-->
        
        <button type="button" onclick="location.href='';"> update Budget</button> <!-- this button allows the user to create a new budget-->
        
        <button type="button" onclick="location.href='/';"> Your Patterns</button> <!-- this will show their patterns in spendings, savings etc.-->
        <button type="button" onclick="location.href='/';"> Calendar View</button> <!-- this will allow the user to view their current payment dates here - add a button so the user can edit billing dates-->
        <button type="button" onclick="location.href='/';"> Investments Tracking</button> <!-- this is a possible future implementation for investement-->
        <button type="button" onclick="location.href='/';"> Chat to Evan</button> <!-- AI assistant.-->
        <button type="button" onclick="location.href='/privacyStatement/';"> Privacy </button>
        <button type="button" onclick="location.href='/cookies/';"> Cookies</button>
        <button type="button" onclick="location.href='/logout/';"> Logout </button> 
    </div>

    <h1 class="font">Hello{{username}}, Ready to Create your Budget?</h1>  

    <form action="/createBudget/" method="post">
        <input type="text" name="budget[amount]" placeholder="Budget Amount">
        <input type="text" name="budget[name]" placeholder="Budget Name">
        <button type="submit">Create Budget</button>
    </form>

    {% if error %}
            <div class="error-message">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    
    <!--<label for="income" class="font">  Your current income: </label> 
    <input class ="logInput" type="text" name="income" value="{{request.form.income}}">
    <input type="submit" class= "logButton" value="Save Income">
    </br>

    <label for="expenses" class="font"> Expense Category: </label> 
    <input class ="logInput" type="text" name="Expense" value="{{request.form.expense}}">
    <label for="expenses" class="font">  Cost of Expense: </label> 
    <input class ="logInput" type="text" name="costExpense" value="{{request.form.costExpense}}">
    <input type="submit" class= "logButton" value="Add Expense"> 
    </br>

    <label for="expenses" class="font">  Current savings: </label> 
    <input class ="logInput" type="text" name="savings" value="{{request.form.savings}}">
    <input type="submit" class= "logButton" value="Add savings">
    </br> -->

    <p> also add a table ta displays their current budget automatically</p> 

    
  

    <!--<div class="t3">
        <button class="button" type="button" onclick="location.href='/updatejourney';">update journey</button>
        <button class="button" type="button" onclick="location.href='/deljourney';">delete journey</button>
        <button class="button" type="button" onclick="location.href='/addjourney';">add journey</button>
    </div> -->

</div>      


</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}