<!-- HTML file, displays the prices after the journey has been selected 
Author: Ana Paula Goncalves 
Student Number:21025329-->

{%extends "thirdbase.html"%}
{%block head%}
    {%block title%} {%endblock%}
{%endblock%}

{%block content%}

<body>
    <header>  
        <a href="/"  target="_self"> <span class="font">HT</span> Horizon Travels</a> 
    </header>
   <!-- display prices -->
<div class="col-12 col-m-9 col-x-12">
    <div class="container">
        

        <H2>Price for your Selected travel</H2> 

        <form action="/booking_confirm/" method="POST">   
            
            <div class="t2">Departure City : {{lookupdata[0]}} <br/>
            <input type="hidden" name="deptcity" id="deptcity" value="{{lookupdata[0]}}"/>
                <div>Arrival City : {{lookupdata[1]}} <br/>
                <input type="hidden" name="arrivcity" id="arrivcity" value="{{lookupdata[1]}}"/></div>
                </div>
            <br/>
            <div class="t2">Outward Date : {{lookupdata[2]}} <br/>
            <input type="hidden" name="outdate" id="outdate" value="{{lookupdata[2]}}"/>
                <div>Return Date : {{lookupdata[3]}} <br/>
                <input type="hidden" name="returndate" id="returndate" value="{{lookupdata[3]}}"/> </div>
                </div>
            <br/>
            <div class="t2">Adult Seats : {{lookupdata[4]}} <br/>
            <input type="hidden" name="adultseats" id="adultseats" value="{{lookupdata[4]}}"/>
                <div>Child Seats : {{lookupdata[5]}} <br/>
                <input type="hidden" name="childseats" id="childseats" value="{{lookupdata[5]}}"/>
                class: {{lookupdata[6]}}
                <input type="hidden" name="classes" id="classes" value="{{lookupdata[6]}}"/></div>
                </div>

            
            <br/>
            <!-- displays what user had seletec on the previous page -->
          <table class="table"> 
            <tr>
                <th> Departure Time </th> <th> Arrival Time </th>  
                <th> Standard fare </th> <th> Total fare </th> <th> class </th>
                <th> Select option </th>
            </tr>
            
            {% for row in resultset %}
            <tr> 
                <td> {{row[2]}} </td> 
                <td> {{row[4]}} </td> 
                <td> {{row[5]}} </td>              
                <td> {{row[7]}} </td>
                <td> {{row [6]}}</td>
                 <input type="hidden" name="totalfare" id="totalfare" value="{{row[5]}}"/>
                <td> <input type="radio" name="bookingchoice" value="{{row[0]}}" checked></td> 
            </tr> 
           {% endfor %} 
          </table>  
        <br/>
        <!-- prompts user to enter their card details -->
        <div class="table">
        <H2> Payment </H2>
          <div> Full name on card: 
          <input type="text" name="cardname" id="cardname" /> <br/> </div>
          <div> Card number:
          <input type="number" name="cardnumber" id="cardnumber" max="9999999999999999" size="16"/> <br/> </div>
          <div>Card expiry:
          <input type="text" name="cardexpiry" id="cardexpiry" max="9999" size="4"/> <br/></div>
          <div>CVV:
          <input type="number" name="cvv" id="cvv" max="999" size="3"/> </div>
          <br/>
          <input class="button" type="submit" value="Confirm Booking and Payment"/>
        </form> 
        </div>
        
        <h1 class="heading">   
            Hi! HolidayIn &copy; 2022 All rights reserved. Images owned by HI!.
            </h1>
    </div>      
</div>

</div>  



</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}