<!-- HTML file, stadard user features - update their details
Author: Ana Paula Goncalves 
Student Number:21025329-->{%extends "secondbase.html"%}

{%block head%}
    {%block title%} {%endblock%}
{%endblock%}

{%block content%}
<body>
    <header>  
        <a href="/"  target="_self"> <span class="font">HT</span> Horizon Travel</a> 
    </header>

   
<div class="col-12 col-m-9 col-x-12">
    <div class="container" >
        <img src="{{url_for('static', filename='4thimage.jpeg')}}" alt="Paris">
<!-- updates their details -->
<div class="box">
    <h1 style='color:royalblue;'>Welcome {{username}}.</h1>        
    
    <span class="heading"> Update details </span>
    <p style="color:brown;">{{error}}</p>
    <form action="/updateInfo/" method=post> 
        <label for="username">Update Username:</label> 
        <input type="text" name="username" value="{{request.form.username}}"></br>
        <label for="password">Update Password:</label>
        <input type="password" name="password"value="{{request.form.password}}"></br>
        <label for="email"> Update Email:</label>
        <input type="email" name="email" value="{{request.form.email}}" size="40"> </br>
        <input type="submit" class= "button" value="Update">
    </form>
    <button class="button" type="button" onclick="location.href='/userfeatures/';"> User Home Page</button>  
    <p>Please note that you won't be allowed to change your username, if you wish to change your username please contact an admin</p>
    
</div>
<h1 class="heading">   
    Hi! HolidayIn &copy; 2022 All rights reserved. Images owned by HI!.
    </h1>
</div>      
</div>

</div>  

</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}