<!-- HTML file, displays the home page depending if the user is standard or admin 
Author: Ana Paula Goncalves 
Student Number:21025329-->

{%extends "base.html"%}

{%block head %}
    {%block title%} 
    {{super()}}
    {%endblock%}
{%endblock%}

{%block content%}
<body>

<!--div class="div1"-->   
<div class="col-12 col-m-9 col-x-12">
    

    <div class="container">
        <h1 class="font"> Welcome {{username}}.</h1>  <br/>
        data: {{data}} <br/>  
        {% if usertype == 'admin' %} 
            <div class="t2"> <button class="logButton" type="button" onclick="location.href='/adminfeatures/';">Admin Features</button>
                <a class="button" href='/logout/'> Logout </a> </br> </div>
        {% endif %}
        {% if usertype == 'standard' %} 
            <div> <button class="logButton"  type="button" onclick="location.href='/userfeatures/';">My account</button>
                <a class="logButton" href='/logout/'> Logout </a> </br> 
            </div>
        {% endif %}        

    </div>      
<!--/div-->

</div>  
</div>
</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}