<!-- HTML file, admin feature - update user details 
Author: Ana Paula Goncalves 
Student Number:21025329-->
{%extends "secondbase.html"%}

{%block head%}
    {%block title%} {%endblock%}
{%endblock%}

{%block content%}
<body>
    <header>  
        <a href="/"  target="_self"> <span class="font">HT</span> Horizon Travels</a> 
    </header> 

   
<div class="col-12 col-m-9 col-x-12">
    <div class="container" >
        <img src="{{url_for('static', filename='4thimage.jpeg')}}" alt="Paris">

<div class="box">
    <h1 style='color:royalblue;'>Welcome {{username}}.</h1>        
    
    <span class="heading"> Update your details </span>
    <p style="color:red;">{{error}}</p>
    <form action="/updateuser" method=post> 
        <label for="id">ID:</label> 
        <input type="text" name="id" value="{{request.form.id}}">
    </br>
        <label for="username">User username:</label>
        <input type="text" name="username"value="{{request.form.username}}">
    </br>
        <label for="email">User email:</label>
        <input type="text" name="email" value="{{request.form.email}}"> 
    </br>
        <label for="password">password:</label>
        <input type="password" name="password" value="{{request.form.password}}"> 
    </br>
        <label for="usertype">User Type:</label>
        <input type="text" name="usertype" value="{{request.form.usertype}}"> 
    </br>
        <input type="submit" class= "button" value="Update">
    </form>
</br>
</br>
    <button class="button" type="button" onclick="location.href='/adminfeatures';"> Admin Home Page</button>  
</div>
 
</div>      
</div>

</div>  

</body>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}